.review_slider {
  position: relative;
  width: 1000px;

  &_arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;

    @media screen and (max-width: 768px) {
      display: none;
    }
  }

  &_arrow_left {
    left: 25px;
  }

  &_arrow_right {
    right: 25px;
  }
  &_content {
    padding: 30px 25px;
    max-width: 675px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    margin: 0 auto;
    &_author {
      display: flex;

      &_desc {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
          font-family: "Roboto";
        }

        &_city {
          font-size: 14px;
          margin-bottom: 18px;
        }
      }

    }
    &_text {
      text-align: justify;
      font-size: 16px;
      font-weight: normal;
      width: 525px;
      margin: 0 auto;
      @media screen and (max-width: 768px) {
        max-width: 450px;
      }
      @media screen and (max-width: 480px) {
        max-width: 280px;
      }
    }
  }

  &_dots {
    display: flex;
    justify-content: center;
    margin-top: 40px;

    &_dot {
      margin-right: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    //padding: 0 20px;
    max-width: 500px;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media screen and (max-width: 480px) {
    //padding: 0 20px;
    max-width: 325px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
