@import "../../mixins";

#step_2 {
  max-width: 680px;
  margin: 0 auto;
  p {
    @include general_font(16px);
    display: inline;
    margin: 0;
  }
  .form_wrapper {
    display: flex;
    flex-direction: column;

    &_options_option {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 20px;
      margin-bottom: 15px;

      &_icon {
        margin-right: 18px;
      }
      &_switch {
        position: absolute;
        right: 20px;
      }
    }

    &_additional_services_service {
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 1px solid #E0E0E0;
      box-sizing: border-box;
      border-radius: 6px;
      padding: 20px;
      margin-bottom: 15px;

      &_info {
        width: 447px;
        p {
          display: block;
          text-align: left;
        }

        &_desc {
          color: #828282;
          font-size: 14px;
          margin-top: 5px;
        }
        @media only screen and (max-width: 768px) {
          max-width: 228px;
        }
      }

      &_price_div {
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 6px;
        padding: 14px 12px;
        margin-left: 40px;

        @media only screen and (max-width: 768px) {
          margin-top: 15px;
          margin-left: 0px;
        }
      }

      &_switch {
        position: absolute;
        right: 20px;
      }

      @media only screen and (max-width: 768px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 0 20px;
  }
}
