/* Template Header Start */
body {
  overflow: auto;
}
main img {
  padding-top: 170px;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
}
h1 {
  /* H1 Desktop */
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 120%;
  text-align: center;
  color: #1B1B1B;
}

h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  margin-bottom: 45px;
}

h3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
  color: #1B1B1B;
}

a {
  cursor: pointer;

}

a:hover {
  color: #3d3d3d;
}

button {
  cursor: pointer;
}

header {
  margin-right: 100px;
  margin-left: 100px;
  margin-top:20px;
  padding-bottom: 40px;
}

.nav_default_link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #1B1B1B;
  margin-right: 30px;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  float: left;
  margin-top: 8px;
}

nav button {
  margin-top:-5px;
}

nav a {
  text-decoration: none;
}

#logo_link {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color:#1B1B1B;
  float: left;
}

#login_button {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background-color: transparent;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 5px;

  color: #1B1B1B;
}

#burger_menu_button {
  display: none;
}

.profile_image {
  width: 48px;
  height: 48px;
  margin-top: -8px;
  border-radius: 50%;
  cursor: pointer;
}

/* Template Header END */
@media screen and (max-width: 768px) {
  .h1 {
    font-size: 32px;
  }
  .h2 {
    font-size: 24px;
  }
  header {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
  }

  #logo_link {
    margin-left: 5px;
  }
  #navigation {
    display: none;
  }

  #burger_menu_button {
    display: inline;
    float: right;
  }
}
@media screen and (min-width: 768px) {
  .is-mobile {
    display: none !important;
  }
}

#mobile_navigation {
  position: fixed;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  z-index: 15;
  background: rgba(255, 255, 255, 0.95);
  padding: 20px 20px;
}

#mobile_navigation .mobile_navigation_logo_div {
  background-color: #ffffff;
  width: 100%;
}

#mobile_navigation .mobile_navigation_logo_div .close_btn {
  position: fixed;
  right: 25px;
  top: 25px;
  z-index: 15;
}



#mobile_navigation nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  transform: translate(15px, -40px);
}
#mobile_navigation nav a {
  font-family: "Roboto";
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  text-decoration: none;
  color: black;
}
#mobile_navigation nav hr {
  width: 90%;
  height: 1px;
  background: #DCE0ED;
}


#mobile_navigation #login_button {
  position: fixed;
  width: 90%;
  font-size: 20px;
  margin-left: 20px;
  margin-right: 20px;
  bottom: 20px;
  margin: 0 auto;
}

#mobile_navigation .profile-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-left: -20px;
  bottom: 40px;
}

#mobile_navigation .profile-container .profile_image {
  width: 74px;
  height: 74px;
  margin-right: 15px;
}
