//Fonts
@mixin general_font($font_size) {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: $font_size;
  line-height: 16px;
}

//Inputs
@mixin general_input {
  display: block;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 14px 12px;
  opacity: 0.7;

  &:hover {
    border-color: #61A199;
  }

  &:focus {
    opacity: 1;
    border: 2px solid #61A199;
    outline: none;
  }
}

//Buttons
@mixin general_button {
  @include general_font(16px);
  background: #61A199;
  border-color: transparent;
  border-radius: 6px;
  padding: 16px 40px;
  margin: 16px 0;
  color: #FFFFFF;

  transition: 0.2s;
}


@mixin plain_button($font_size) {
  @include general_font($font_size);
  background-color: transparent;
  border: none;
  color: #508E87;

  &:hover {
    color: black;
  }
}

@mixin plain_buttons($font_size) {
  button {
    @include general_font($font_size);
    background-color: transparent;
    border: none;
    color: #508E87;
  }

  button:hover {
    color: black;
  }

  .is-inactive {
    background-color: #E5E7F0;
    color: black;
  }
}

// Links
@mixin general_link($font_size) {
  @include general_font($font_size);
  text-decoration: none;
  color: #508E87;
}

@mixin link_like_buttton($font_size) {
  @include general_font($font_size);
  text-decoration: none;
  background: #61A199;
  border-color: transparent;
  border-radius: 6px;
  padding: 16px 40px;
  margin: 16px 0;
  color: #FFFFFF;

  transition: 0.2s;
}
