@import "../mixins";

.rent_car_search {
  button {
    @include general_button();
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 18px;
  }
  input {
    @include general_input();
  }

  &_form {
    max-width: 1030px;
  }
}
